

/* development */
div {
	border: .25px solid lightgrey;
}
#gallery-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* append images to appropriate card (if it can't be done with data.json)*/
