

/* development */
/* div {
	border: .25px solid lightgrey;
} */
.gallery-card {
	display: flex;
	flex-direction: column;
	margin: 1em;
}
.thumbnail {
	height: 10em;
	width: 8em;
	/* background-color: ; */
	display: flex;
}
.thumb-info {
	display: flex;
	padding: 1em 0.5em;
}
