/* PAGE FOOTER STYLE */
footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-top: 110px;
    padding-top: 40px;
    padding-bottom: 25px;
    justify-content: space-between;
    font-size: 8px;
    /* border-top: 0.5px groove rgba(250, 244, 244, 0.171); */
    background-color: white;
}
.footer-wrapper-1 {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    width: 100%;
}
.footer-text,
a.footer-text {
    display: flex;
    padding: 7px;
    color: lightgray !important;
    text-decoration: none;
}
.follow {
    margin-right: 10px;
}
.icon-links {
    display: flex;
    position: relative;
    left: 3px;
    bottom: 5px;
    font-size: 12px;
}
.follow-link {
    display: flex;
    padding: 5px;
    color: lightgray !important;
}
a.footer-text:hover,
.follow-link:hover {
    color: rgba(1, 194, 194, 0.37) !important;
}
